# Dependencies
node_modules
npm-debug.log*

# Build
dist

# Testing
coverage

# Misc
.DS_Store
*.pem
.env*.local

# IDE
.vscode
.idea
*.swp
*.swo

# Debug
*.log

# Docker
docker-compose*.yml
Dockerfile*
.dockerignore
